# Development Phase
GOOGLE_GENAI_USE_VERTEXAI=FALSE
GOOGLE_API_KEY=ai-studio-api-key

# Production Phase
# .env.production
# GOOGLE_GENAI_USE_VERTEXAI=TRUE
# GOOGLE_CLOUD_PROJECT=your_project_id
# GOOGLE_CLOUD_LOCATION=us-central1

GITLAB_BASE_URL=https://gitlab.com/api/v4

GITLAB_PRIVATE_TOKEN=gitlab-private-token
GITLAB_WEBHOOK_SECRET=gitlab-webhook-signing-token